<!-- $Id: about_us.htm 16654 2009-09-09 10:29:24Z liuhui $ -->
{include file="pageheader.htm"}
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="2" class="group-title">{$lang.team_member}</th>
  </tr>
  <tr>
    <td width="20%" class="first-cell">{$lang.director}</td><td>
    Tạ Tuấn Vũ
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.programmer}</td><td>
      Tuấn Vũ,
      Quốc Vinh
      Mr Lee Dung
 
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.ui_designer}</td><td>
     Hải Quang
    </td>
  </tr>
  <tr>
    <td class="first-cell">{$lang.documentation}</td><td>
      Văn Phú
    </td>
  </tr>
</table>
</div>
<br />
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th colspan="2" class="group-title">{$lang.special_thanks}</th>
  </tr>
  <tr>
    <td class="first-cell" width="20%">Mr Tạ</td><td><a href="http://www.chupanhdangoai.com" target="_blank">http://www.chupanhdangoai.com</a></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%"></td><td><a href="http://www.tapchibabau.net" target="_blank">http://www.tapchibabau.net</a></td>
  </tr>
  <tr>
    <td class="first-cell" width="20%">Mr Điệp</td><td><a href="http://www.zingphim.net" target="_blank">http://www.zingphim.net</a></td>
  </tr>
</table>
</div>
<br />
<div class="list-div">
<table cellspacing='1' cellpadding='3'>
  <tr>

  </tr>
  <tr>
   Mọi thông tin về website xin vi lòng liên hệ qua hotline: 0985.187.859
  </tr>

</table>
</div>
{literal}
<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}